{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "dynamicImport": true
    },
    "target": "es2018"
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  }
}